# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
ImageData/left/left01.jpg
ImageData/left/left02.jpg
ImageData/left/left03.jpg
ImageData/left/left04.jpg
ImageData/left/left05.jpg
ImageData/left/left06.jpg
ImageData/left/left07.jpg
ImageData/left/left08.jpg
ImageData/left/left09.jpg
ImageData/left/left11.jpg
ImageData/left/left12.jpg
ImageData/left/left13.jpg
ImageData/left/left14.jpg
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/StereoMatching_ZJULearning/v15/.suo
.vs/StereoMatching_ZJULearning/v15/Browse.VC.db
.vs/tasks.vs.json
.vs/VSWorkspaceState.json
Project1/.vs/Project1/v15/.suo
Project1/.vs/Project1/v15/Browse.VC.db
Project1/.vs/Project1/v15/Browse.VC.opendb
Project1/.vs/Project1/v15/ipch/AutoPCH/4772bb59554a4fd/源.ipch
Project1/.vs/Project1/v15/ipch/AutoPCH/5a9a0be8b770949b/CAMERA_CALIBRATION.ipch
Project1/.vs/Project1/v15/ipch/AutoPCH/8915db749c4adc1d/MYCAMERACALIBRATOR.ipch
Project1/.vs/Project1/v15/ipch/AutoPCH/9078ed1c43afcc38/CAMERA_CALIBRATION.ipch
Project1/.vs/Project1/v15/ipch/AutoPCH/ee6a141b81a10e82/源.ipch
Project1/.vs/Project1/v15/ipch/AutoPCH/f36f4876ccb6f9d4/源1.ipch
Project1/Debug/CameraCa.A27A57E7.tlog/CameraCalibration.lastbuildstate
Project1/Debug/CameraCa.A27A57E7.tlog/CL.command.1.tlog
Project1/Debug/CameraCa.A27A57E7.tlog/CL.read.1.tlog
Project1/Debug/CameraCa.A27A57E7.tlog/CL.write.1.tlog
Project1/Debug/CameraCa.A27A57E7.tlog/link-cvtres.read.1.tlog
Project1/Debug/CameraCa.A27A57E7.tlog/link-cvtres.write.1.tlog
Project1/Debug/CameraCa.A27A57E7.tlog/link-rc.read.1.tlog
Project1/Debug/CameraCa.A27A57E7.tlog/link-rc.write.1.tlog
Project1/Debug/CameraCa.A27A57E7.tlog/link.command.1.tlog
Project1/Debug/CameraCa.A27A57E7.tlog/link.read.1.tlog
Project1/Debug/CameraCa.A27A57E7.tlog/link.write.1.tlog
Project1/Debug/CameraCa.A27A57E7.tlog/unsuccessfulbuild
Project1/Debug/CameraCalibration.pdb
Project1/Debug/Project1.log
Project1/Debug/vc141.idb
Project1/Debug/vc141.pdb
Project1/Project1.sln
Project1/Project1.vcxproj
Project1/Project1.vcxproj.filters
Project1/Project1.vcxproj.user
Project1/x64/Debug/CameraCa.A27A57E7.tlog/CameraCalibration.lastbuildstate
Project1/x64/Debug/CameraCa.A27A57E7.tlog/CL.command.1.tlog
Project1/x64/Debug/CameraCa.A27A57E7.tlog/CL.read.1.tlog
Project1/x64/Debug/CameraCa.A27A57E7.tlog/CL.write.1.tlog
Project1/x64/Debug/CameraCa.A27A57E7.tlog/link.command.1.tlog
Project1/x64/Debug/CameraCa.A27A57E7.tlog/link.read.1.tlog
Project1/x64/Debug/CameraCa.A27A57E7.tlog/link.write.1.tlog
Project1/x64/Debug/CameraCalibration.ilk
Project1/x64/Debug/CameraCalibration.pdb
Project1/x64/Debug/Project1.log
Project1/x64/Debug/vc141.idb
Project1/x64/Debug/vc141.pdb
Project1/x64/Debug/源.obj.enc
